<ion-header translucent>
    <ion-toolbar>
      <ion-title>Directions</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="cerrarDirections()">Close</ion-button>
        <ion-button *ngIf="!rutaEnMarcha" color="primary" (click)="openGoogleMaps()">
          Go
        </ion-button>
        <ion-button *ngIf="rutaEnMarcha" color="danger" (click)="finalizarRuta()">
          Finish
        </ion-button>
        <ion-button (click)="agregarRutaAfavoritas()"> <ion-icon color="warning" name="star-outline"></ion-icon></ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
  </ion-content>