<ion-header>
  <ion-toolbar>
    <ion-title data-step="1" data-intro="A hacer fotos!">Photos</ion-title>
  </ion-toolbar>
</ion-header>
<input type="file" (change)="onFileSelected($event)">
<button type="button" (click)="onUpload()">Subir Foto</button>
<ion-content>
  <ion-grid>
      <ion-card data-step="2" data-intro="Aqui te mostramos una pequeña explicación de qué puedes hacer con tus fotos">
          <ion-card-header>
              <ion-card-subtitle>¿Quiere saber que aire respira al empezar el dia?</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
              Haga una foto al horizonte y nuestros expertos la evaluarán para ofrecerle la mejor información sobre las partículas que respira día a día.
              <br><br>
              Aqui tienes una lista de tus fotos:
          </ion-card-content>
        </ion-card>
    <ion-row>
      <ion-col size="6">
        <ion-card data-step="3" data-intro="Puedes ver todas las fotos que has guardado. Cada vez que hagas una fotografía puedes guardarla y aparecerá aqui.">
          <img [src]="foto" *ngIf="foto" />
          <ion-card-header data-step="4" data-intro="¡Pero no nos basta solo con la foto! Te mostramos información de cada una, para que puedas saber todo de ella">
            <ion-card-subtitle>05/11/2019</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Air quality: <ion-icon color="success" name="happy"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab data-step="5" data-intro="¿Quiere saber que aire respira al empezar el dia? Haga una foto al horizonte y nuestros expertos la evaluarán para ofrecerle la mejor información sobre las partículas que respira día a día " vertical="bottom" horizontal="end" slot="fixed" (click)="hacerFoto()" vertical="bottom" horizontal="end" slot="fixed" (click)="hacerFoto()">
    <ion-fab-button>
      <ion-icon name="camera">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>