<ion-header>
    <ion-toolbar>
        <ion-title>Routes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Searchbar with cancel button shown on focus -->
    <ion-searchbar id="search" #search type="text" placeholder="Pick a destination"></ion-searchbar>
    <ion-item hidden="true">

        <ion-select #select value="SO2"  ok-text="Ok"  cancel-text="Cancel" (ionChange)="onChangeContaminante($event)">

            <ion-select-option value="SO2">SO2</ion-select-option>

            <ion-select-option value="CO2">CO2</ion-select-option>

            <ion-select-option value="NOX">NOX</ion-select-option>
        </ion-select>
    </ion-item>
    <div id="map" #map style="height:100%;">
    </div>
    <ion-button (click)="mostrarDirections()" class="directionsButton" shape="round">
        <ion-icon name="map"></ion-icon> Directions
    </ion-button>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="more">
            </ion-icon>
        </ion-fab-button>

        <ion-fab-list side="top">
            <ion-fab-button (click)="mostrarGrid()">
                <ion-icon name="grid" *ngIf="!cuadricula"></ion-icon>
                <ion-icon name="thermometer" *ngIf="cuadricula"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="toggleSelectorContaminante()">
                <ion-icon name="funnel"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>