.col {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.col-header{
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}


.col-header p{
    font-weight: bold;
}
.row{
    text-align: center;
}