<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content data-step="1"
    data-intro="Bienvenido a EcoHolder! Te encuentras dentro de la mejor aplicación que combate la contaminación. Te animo a que veas este tutorial para poder aprovechar al máximo esta experiencia!">
    <ion-grid>
        <ion-row>
            <ion-col size="0" size-lg="3">
            </ion-col>
            <ion-col size="12" size-lg="6">
                <ion-card data-step="2"
                    data-intro="Aqui podrás encontrar la contaminación a la que has sido expuesto en las últimas 24 Horas. La barra te muestra en qué nivel de exposición estás. Además puedes encontrar muchos consejos!">
                    <ion-card-header  (click)="abrirInfo()">
                        <ion-buttons class="info-button button">
                            <ion-icon name="information-circle"></ion-icon>
                        </ion-buttons>
                        <ion-card-title>My exposure level</ion-card-title>
                        <ion-card-subtitle>Last 24 hours</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>

                        <div style="display: block"><canvas id="yudhatp-chart" style="z-index:2;"></canvas>
                            <ion-avatar><img class="avatar" [src]="userImg" /></ion-avatar>
                            <section style="font-size:.8 rem;">

                                <ion-chip color="danger">
                                    <ion-label>Danger</ion-label>
                                </ion-chip><br>Be careful! your exposure
                                level has been high
                                today!
                                <ion-button class="button tips-button" fill="outline" color="primary" size="small"
                                    (click)="mostrarConsejos()">
                                    Tips</ion-button>
                            </section>
                        </div>

                    </ion-card-content>
                </ion-card>

                <ion-card data-step="3"
                    data-intro=" ¡LIMPIA TU AIRE! Puedes tener un control de tus rutas favoritas para mantener tus zonas limpias. Marca tu ruta y accede a ella siempre que quieras de manera rápida y sencilla">
                    <ion-item>
                        <ion-icon name="navigate" slot="start"></ion-icon>
                        <ion-label>Work</ion-label>
                        <ion-label color="medium">15min</ion-label>
                        <ion-icon color="success" name="happy"></ion-icon>
                        <ion-button fill="outline" slot="end">Go</ion-button>
                    </ion-item>
                    <img src="https://img.mobiscroll.com/demos/route.png" alt="">
                </ion-card>
            </ion-col>
            <ion-col size="0" size-lg="3">
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>