  <ion-header translucent>
    <ion-toolbar>
      <ion-title>Proyecto 3A</ion-title>
      <ion-buttons slot="primary">
        <ion-button (click)="scan()">
          <ion-icon slot="icon-only" name="md-refresh"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  

<ion-content>
  <ion-list> 
  
   <ion-card ion-item *ngFor="let device of devices">
    <ion-card-header>
      <ion-card-subtitle>{{ device.id }}</ion-card-subtitle>
      <ion-card-title>{{ device.name || 'Unnamed' }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
        <p>RSSI: {{ device.rssi }}</p>
        <ion-button (click)="deviceSelected(device)">Connect</ion-button>
    </ion-card-content>
  </ion-card>
  
  </ion-list> 
</ion-content>
