<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Nodes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="row">
      <ion-col class="col-header">
        <p>Alias</p>
      </ion-col>
      <ion-col class="col-header">
        <p>Date</p>
      </ion-col>
      <ion-col class="col-header">
        <p>MAC</p>
      </ion-col>
      <ion-col class="col-header">
        <p>Status</p>
      </ion-col>
    </ion-row>
    <ion-row class="row" *ngFor="let node of nodes">
      <ion-col class="col">
        {{node.alias}}
      </ion-col>
      <ion-col class="col">
        {{node.date}}
      </ion-col>
      <ion-col class="col">
        {{node.id}}
      </ion-col>
      <ion-col class="col">
        <ion-chip *ngIf="node.estado == true" color="success">
          <ion-label>Good</ion-label>
        </ion-chip>
        <ion-chip *ngIf="node.estado == false" color="danger">
          <ion-label>Bad</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>